html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Verifikasi Email
    body 
        .container
            .main-container
                img(src='/images/mail.png', alt="email", srcset="").image
                h1 Hello #{name} !
                p.desc Alamat Email kamu telah diverifikasi. Akunmu sekarang sudah aktif dan siap digunakan! Hubungi atau kunjungi kantor program studi untuk meng-verifikasi akun anda agar dapat menggunakan layanan perpustakaan
                a(href="/login").btn Masuk