html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Verifikasi Email
    body 
        .container
            .main-container
                img(src='/images/mail.png', alt="email", srcset="").image
                h1 Hello #{name} !
                p.desc
                    | Terima kasih telah melakukan verifikasi email. Akun Anda sebagai Pustakawan di Sistem Perpustakaan Teknik Informatika Universitas Dayanu Ikhsanuddin kini telah aktif. 
                    strong Silahkan cek email anda untuk melihat data login anda sebagai pustakawan.