html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Verifikasi Email
    body 
        .container
            .main-container
                img(src='/images/mail.png', alt="email", srcset="").image
                h1 Email Baru Diverifikasi !
                p.desc
                    | Terima kasih telah melakukan verifikasi email. Anda dapat mengakses Perpustakaan menggunakan Email baru anda.