html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Verifikasi Email
    body 
        .container
            .main-container
                img(src='/images/not-found.png', alt="email", srcset="").image
                h1 Oops, #{message}
                p.desc Klik tombol dibawah untuk kembali ke halaman utama
                a(href="/login").btn Kembali ke Home